html,body{
    padding: 0;
}
body.account-info{
    position: relative;
    min-height: 100vh;
    height: auto;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    background-color: #e99695;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-info .info-container{
    min-height: 100vh;
    height: fit-content;
    overflow: hidden;
    padding-bottom: 1.5rem;
    justify-content: flex-start !important;
}
.account-info .title-top{
    /* color: #00267a; */
    color: #fff;
    font-family: 'Garamond-Medium';
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.1;
    margin: auto;
    margin-bottom: 0;
    padding: 1rem;
}

.account-info .info-content{
    margin: auto;
    margin-top: 0;
    max-width: 500px;
    width: 90%;
    padding: 1rem .7rem 1rem;
    background-color: rgba(8, 8, 8, 0.5);
    border-radius: .5rem;
    box-shadow: 0px 1px 9px -3px #a7a7a7;
}

.account-info .info-content hr{
    background-color: #FFF;
    opacity: 1;
    width: 95%;
    margin: auto;
    margin-bottom: .25rem;
}

.account-info .info-content .info-text{
    margin-bottom: .5rem;
    margin-top: .5rem;
    display: flex;
    justify-content: flex-start;
}
.account-info .info-content .info-text span{
    display: block;
    color: #FFF;
    width: 35%;
    line-height: 1.1;
    margin-right: 1%;
}
.account-info .info-content .info-text p{
    margin-bottom: 0;
    padding: 0 .5rem;
    color: #fff;
    font-weight: 500;
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.1);
}



.account-info .info-content .change-passowrd{
    font-size: 16px;
    line-height: 1.1;
    display: block;
    text-align: center;
    margin: 1rem auto 0;
    text-decoration: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 180px;
    background-color: #c57471 !important;
    color: #FFF;
    border-color: #c57471;
    cursor: pointer;
    padding: .5rem;
    border-radius: 5px;
    font-weight: bold;
}
.account-info .info-content .change-passowrd:hover{
    text-decoration: none;
    box-shadow: 0px 4px 11px -8px #ffffff;
    background-color: #ea9694 !important;
}


/* responsive */
@media (max-width:1366px) and (max-height:650px) and (orientation:landscape){
    .account-info .title-top{
        font-size: 1.7rem;
    }
}
@media (max-width:992px) {
    .account-info .title-top{
        font-size: 1.6rem;
    }
}
@media (max-width:767px) {
    .account-info .title-top{
        font-size: 1.2rem;
    }
}


