html,body{
    padding: 0;
}
body.change-password{
    position: relative;
    min-height: 100vh;
    height: auto;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    background-color: #e99695;
    display: flex;
    justify-content: center;
    align-items: center;
}
.change-password .reset-container{
    min-height: 100vh;
    height: fit-content;
    overflow: hidden;
    padding: 1.5rem;
    justify-content: flex-start !important;
}
.change-password .title-top{
    color: #fff;
    font-family: 'Garamond-Medium';
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.1;
    margin: auto;
    margin-bottom: 0;
    padding: 1rem;
}

.change-password .reset-form{
    margin-bottom: 1rem;
    max-width: 500px;
    margin-top: 0;
    margin: auto;
    width: 90%;
    padding: 1.5rem .7rem 1.5rem;
    background-color: rgba(8, 8, 8,  0.5);
    border-radius: .5rem;
    box-shadow: 0px 1px 9px -3px #a7a7a7;
    margin-top: 0;
}
.change-password .reset-form .main-btn{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 180px;
    background-color: #c57471 !important;
    color: #FFF;
    border-color: #c57471;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.change-password .reset-form .main-btn:hover,
.change-password .reset-form .main-btn:focus{
    box-shadow: 0px 4px 11px -8px #ffffff;
    background-color: #ea9694 !important;
    border: 1px solid #ea9694 !important;
}
.change-password .reset-form .forgot-passowrd{
    color: #FFF;
    font-size: 16px;
    line-height: 1.1;
    display: block;
    text-align: center;
    margin: 1rem auto 0;
    text-decoration: none;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.change-password .reset-form .forgot-passowrd:hover{
    text-decoration:underline;
}

.change-password .reset-form .form-control{
    line-height: 2;
}
.change-password .invalid-feedback{
    font-weight:600;
    color: #fff;
}

.modal {
    background-color: rgba(0 ,0 ,0 , .95);
}
.modal .modal-title{
    color: #c57471;
}
.modal p{
    line-height: 1.1;
}

/* responsive */


@media (max-width:992px) {
    .change-password .reset-form .form-control{
        line-height: 1.4;
    }
}
@media (max-width:992px) and (orientation:landscape){
    .change-password .reset-form{
        padding: 1rem .5rem;
        
    }

}




